﻿@using CycleMonitor.Site.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@if(IsSectionDefined("Title")){@RenderSection("Title", true) <text> | </text> }Cycle Monitor</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/Content/css")    

</head>

<body>

    <!-- container-fluid allows navbar to span entire width of page -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <div class="btn-group">
                    @Html.ActionLink("Cycle Monitor", "Index", "Home", null, new { @class = "btn btn-default navbar-btn" })
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Upload File", "FileUpload", "Home")</li>
                </ul>
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Cycle Sessions", "CycleSessions", "Home")</li>
                </ul>*@
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="main-container">
        @RenderBody()
    </div> 
</body>
</html>
