﻿@using CycleMonitor.Site.Dto

@model CycleSessionDataModel

<h2>Graph <small>Hint: scroll over the graph to change time periods</small></h2>
@(Html.Kendo().Chart<HeartRateDto>(Model.HeartRateDetails)
    .Name("HeartRateGraph")
    //.DataSource(ds => ds
    //    .Read(read =>
    //        read.Action("GenerateGraph", "Home")
    //            .Data("chart_getData")
    //    )
    //)
    .Legend(legend => legend
            .Position(ChartLegendPosition.Top)
        )
    .Series(series =>
    {
        series.Line(a => a.BeatsPerMinute).Markers(false);
        series.Line(a => a.Altitude).Markers(false);
        series.Line(a => a.Cadence).Markers(false);
        series.Line(a => a.Power).Markers(false);
        series.Line(a => a.Speed).Markers(false);

    })
    .CategoryAxis(axis => axis
        .Categories(a => a.Time)
        .Labels(l =>
            l.Rotation(-90)
            .Step(30)
        )
        .Select(2, 8000)
    )
    .Events(events => events
        .SelectStart("onSelectStart")
        .SelectEnd("onSelectEnd")
    )
)

<h3>Selection Data</h3>
<div class="row">
    <div class="col-md-4">
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.TopSpeed)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.TopSpeed)) @(Model.UseImperial ? "Mph" : "Km/h")
            </div>
        </div>

        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.AverageSpeed)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.AverageSpeed)) @(Model.UseImperial ? "Mph" : "Km/h")

            </div>
        </div>

        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.TotalDistance)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.TotalDistance)) @(Model.UseImperial ? "Miles" : "Km")
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.MinimumHeartRate)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.MinimumHeartRate)) BPM
            </div>
        </div>
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.AverageHeartRate)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.AverageHeartRate)) BPM
            </div>
        </div>
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.MaximumHeartRate)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.MaximumHeartRate)) BPM
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.AveragePower)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.AveragePower)) Watts
            </div>
        </div>
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.MaximumPower)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.MaximumPower)) Watts
            </div>
        </div>
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.AverageAltitude)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.AverageAltitude)) @(Model.UseImperial ? "Feet" : "Metres")
            </div>
        </div>
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.MaximumAltitude)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.MaximumAltitude)) @(Model.UseImperial ? "Feet" : "Metres")
            </div>
        </div>
    </div>
</div>

<h3>Coggan TSS</h3>
<div class="row">
    <div class="col-md-4">
        <div class="row control-group display-group">
            <div class="col-md-4">
                Normalised Power
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.NormalisedPower)) Watts
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row control-group display-group">
            <div class="col-md-4">
                Intensity Factor
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.IntensityFactor)) IF
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row control-group display-group">
            <div class="col-md-4">
                Training Stress Score
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.TrainingStressScore))
            </div>
        </div>
    </div>
</div>

<h3>Workout Intervals</h3>
@foreach (var workoutInterval in Model.WorkoutIntervals)
{
    @Html.Partial("_WorkoutInterval", workoutInterval);
}