﻿@model WorkoutIntervalDto


<h4>@(Model.StartTime.ToLongTimeString()) - @(Model.EndTime.ToLongTimeString())</h4>
<div class="buttonPanel">
    <button class="filterTime btn btn-info">Filter Grid</button>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.TopSpeed)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.TopSpeed)) @(Model.IsImperial ? "Mph" : "Km/h")
            </div>
        </div>

        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.AverageSpeed)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.AverageSpeed)) @(Model.IsImperial ? "Mph" : "Km/h")

            </div>
        </div>

        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.TotalDistance)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.TotalDistance)) @(Model.IsImperial ? "Miles" : "Km")
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.MinimumHeartRate)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.MinimumHeartRate)) BPM
            </div>
        </div>
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.AverageHeartRate)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.AverageHeartRate)) BPM
            </div>
        </div>
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.MaximumHeartRate)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.MaximumHeartRate)) BPM
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.AveragePower)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.AveragePower)) Watts
            </div>
        </div>
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.MaximumPower)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.MaximumPower)) Watts
            </div>
        </div>
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.AverageAltitude)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.AverageAltitude)) @(Model.IsImperial ? "Feet" : "Metres")
            </div>
        </div>
        <div class="row control-group display-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.MaximumAltitude)
            </div>
            <div class="col-md-8">
                @(Html.DisplayFor(m => m.MaximumAltitude)) @(Model.IsImperial ? "Feet" : "Metres")
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.filterTime').click(function (e) {
            e.preventDefault();
            $('#TimeFrom').data("kendoTimePicker").value('@Model.StartTime.ToString("HH:mm:ss")')
            $('#TimeTo').data("kendoTimePicker").value('@Model.EndTime.ToString("HH:mm:ss")')
        })
    });
</script>