﻿@using CycleMonitor.Library.Dto

@model CycleSessionModel


@Html.DisplayTextFor(m => m.SessionId)

@Html.DisplayTextFor(m => m.DateTime)

@Html.DisplayTextFor(m => m.SessionLengthTicks)


<div class="row">
    <table id="grid-schedules" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th data-identifier="true" data-visible="false" data-column-id="SessionId">ID</th>
                <th data-column-id="DateTime">Schedule</th>
                <th data-column-id="IsActive" data-formatter="isActive" data-order="desc">Active</th>
                <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
            </tr>
        </thead>
    </table>
</div>