﻿@model CycleSessionModel

<div class="contents">
    <h1>@Model.FileName <small>@Model.DateTime (Interval: @Model.Interval s)</small></h1>

    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="tableHeading">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dataTable" aria-expanded="true" aria-controls="dataTable">
                                Table
                            </a>
                        </h4>
                    </div>
                    <div id="dataTable" class="panel-collapse collapse" role="tabpanel" aria-labelledby="tableHeading">
                        <div class="panel-body">
                            @(Html.Kendo().Grid(Model.HeartRateDetails)
                                .Name("HeartRateGrid")
                                .Scrollable()
                                .Columns(col =>
                                {
                                    col.Bound(b => b.Time).ClientTemplate("HH:mm:ss");
                                    col.Bound(b => b.BeatsPerMinute);
                                    col.Bound(b => b.Speed);
                                    col.Bound(b => b.Distance);
                                    col.Bound(b => b.Altitude);
                                    col.Bound(b => b.Cadence);
                                    col.Bound(b => b.Power);
                                })
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="button-panel margin-bottom-big">
                    @(Html.Kendo().TimePicker()
                        .Name("TimeFrom")
                        .Format("HH:mm:ss")
                        .HtmlAttributes(new { @class = "disabled", disabled = "", style = "cursor: not-allowed;", placeholder = "Time From" }))

                    @(Html.Kendo().TimePicker()
                        .Name("TimeTo")
                        .Format("HH:mm:ss")
                        .HtmlAttributes(new { @class = "disabled", disabled = "", style = "cursor: not-allowed;", placeholder = "Time To" }))

                    @(Html.Kendo().TextBox()
                        .Name("FTP")
                        .HtmlAttributes(new { placeholder = "FTP *" }))


                <button id="clear" class="btn btn-warning">Clear</button>
                <button id="search" class="search btn btn-success">Refresh</button>
            </div>

            <div id="graph">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function chart_getData() {
        return {
            fileName: '@Model.FileName',
            startDate: '@Model.DateTime',
            interval: '@Model.Interval',
            isImperial: '@Model.IsImperial',
            timeFrom: $('#TimeFrom').data("kendoTimePicker").value(),
            timeTo: $('#TimeTo').data("kendoTimePicker").value(),
            ftp: $('#FTP').val()
        }
    }

    function getFromDate(e) {
        var categories = e.axis.categories;

        return categories[e.from];
    }

    function getToDate(e) {
        var categories = e.axis.categories;

        return categories[e.to];
    }

    function onSelectStart(e) {
        $('#TimeFrom').data("kendoTimePicker").value(e.from);
        //timeFrom = e.from;
    }

    function onSelectEnd(e) {
        $('#TimeTo').data("kendoTimePicker").value(e.to);
        //timeTo = e.to - 1;
    }

    function setOptions() {
        var chart = $("#HeartRateGraph").data("kendoChart");

        $.extend(true /* deep */, chart.options, {
            categoryAxis: {
                select: {
                    mousewheel: {
                        reverse: $("#reverse").prop("checked"),
                        zoom: $("#zoom").val()
                    }
                }
            }
        });

        chart.refresh();
    }

    function filterGraph() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateGraphView", "Home")',
            dataType: 'html',
            data: JSON.stringify({
                FileName: '@Model.FileName',
                StartDate: '@Model.DateTime',
                Interval: '@Model.Interval',
                IsImperial: '@Model.IsImperial',
                TimeFrom: $('#TimeFrom').data("kendoTimePicker").value(),
                TimeTo: $('#TimeTo').data("kendoTimePicker").value(),
                ftp: $('#FTP').val()
            }),
            contentType: 'application/json',
            success: function (data) {
                $('#graph').html(data);
            }
        });
    }

    $("#reverse, #zoom").click(setOptions);

    $(document).ready(function () {
        var timeFrom = $('#TimeFrom').data("kendoTimePicker").value();
        var timeTo = $('#TimeTo').data("kendoTimePicker").value();

        $('#search').on('click', function () {
            filterGraph();
            //$('#HeartRateGraph').data("kendoChart").dataSource.read();
        });

        $('#clear').on('click', function () {
            $('#TimeFrom').data("kendoTimePicker").value(null);
            $('#TimeTo').data("kendoTimePicker").value(null);
            $('#FTP').val(null);
            searchButton.addClass('disabled').attr('disabled', 'disabled');
        });

        var searchButton = $('#search');
        var ftpTextBox = $('#FTP');

        searchButton.addClass('disabled').attr('disabled', 'disabled');

        $('#FTP').keyup(function () {
            if ($(this).val().length != 0 && $.isNumeric($(this).val())) {
                searchButton.removeClass('disabled').removeAttr('disabled');
            }
            else {
                searchButton.addClass('disabled').attr('disabled', true);
            }
        })
    })
</script>
