﻿@section Title{
    Title
}

@model FileUploadModel

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationMessageFor(m => m)
            <div class="form-group">
                    @Html.LabelFor(m => m.File)
                    @(Html.Kendo()
                        .Upload()
                        .Name("File")
                        .Multiple(false)
                        .HtmlAttributes(new { @class = "form-control", file_extension = ".hrm" })
                    )
                @Html.ValidationMessageFor(m => m.File)
            </div>

            <input type="submit" />
        }
    </div>
</div>