﻿@model IndexModel

<div class="contents">
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Scheduler<CycleMonitorSchedulerModel>()
                .Name("scheduler")
                .Date(Model.MinDate)
                .Min(Model.MinDate)
                .Max(Model.MaxDate)
                .Height(600)
                .Views(views =>
                {
                    views.MonthView();
                })
                .Editable(false)
                .EventTemplate(
                    "<a class=\"k-event-clickable\" href=\"Home/Data/#= SessionId #\">" +
                    "Cycle Session: #= kendo.toString(DateTime, 'dd/MM/yyyy') #" +
                    "</a>"
                )
                .DataSource(data =>
                    data.Read(read =>
                        read.Action("GetSchedulerData", "Home")
                    )
                )
            )
        </div>
    </div>
</div>