﻿/* Main CSS*/
/* ###################### */

body.login{
    background-color: #91b48a;
    background-image: url("images/tree-trunk-1920.jpg");
    background-attachment: fixed;
    background-position: right top; /* Make background prefer being attached at the right and top sides */
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.7) inset;
    position: relative;
}

body, html{
    height: 100%;
    overflow-x: hidden;;
}
body {
    padding-bottom: 200px;
}

.main-container {
    margin-top: 60px;
}

input.sc-transparent{
    background-color: rgba(255, 255, 255, 0.6);
}

.sc-centered{
    margin: 0 auto;
}

.sc-board-tile {
    margin-bottom: 20px;
}

.sc-board-tile a {
    background-color: #F8F8F8;
    border: 2px solid #E7E7E7;
    display: block;
    border-radius: 4px;
    height: 70px;
    -webkit-box-shadow: 9px 9px 0px -6px rgba(0,0,0,0.45);
    -moz-box-shadow: 9px 9px 0px -6px rgba(0,0,0,0.45);
    box-shadow: 9px 9px 0px -6px rgba(0,0,0,0.45);
}

.sc-board-tile a p {
    margin-left: 10px;
    margin-top: 10px;
    font-size: larger;
}

.sc-indented {
    margin-left: 20px;
}

.sc-inline-edit{
    border: 1px solid #E7E7E7;
    padding: 10px;
}


/* Animations */
/* ###################### */

/* 2D TRANSITIONS */
.sc-grow {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.sc-grow:hover, .sc-grow:focus, .sc-grow:active 
{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Float */
.sc-float {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.sc-float:hover, .sc-float:focus, .sc-float:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

/* Bootstrap extensions */
/* ###################### */

input.minwidth{
    min-width: 300px;
}

.navbar-header .btn-group {
    margin-left: 5px;
}

/* Bootstrap overrides */
/* ###################### */

.navbar-default {
    /*background-color: #D1DB0A;*/
}


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #769ba9;
  border-color: #769ba9;
  cursor: default;
}

.bootstrap .form-inline label {
    display: block;
}

.bootstrap .form-inline .form-group {
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: auto;
}

.bootstrap input[type="checkbox"],
.bootstrap input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    height: 25px;
    width: 20px;
}

.contents {
    margin-left: 15px;
    margin-right: 15px;
}

.k-event-clickable {
    color: #fff;
}

.k-mask {
    background-color: #fff;
    filter: alpha(opacity=10);
    opacity: .5;
}

.margin-top-big {
    margin-top: 5px;
}

.margin-bottom-big {
    margin-bottom: 15px;
}

.margin-left-big {
    margin-left: 15px;
}

.margin-right-big {
    margin-right: 15px;
}

.margin-top-small {
    margin-top: 5px;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

.margin-left-small {
    margin-left: 5px;
}

.margin-right-small {
    margin-right: 5px;
}
.button-panel {
    display: block;
}